-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: gianhang
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `gianhang`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `gianhang` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `gianhang`;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `idAdmin` int(11) NOT NULL AUTO_INCREMENT,
  `idTaiKhoan` int(11) NOT NULL,
  `hoTen` varchar(150) DEFAULT NULL,
  `ghiChu` varchar(255) DEFAULT NULL,
  `ngayTao` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idAdmin`),
  UNIQUE KEY `uq_admin_idTaiKhoan` (`idTaiKhoan`),
  CONSTRAINT `fk_admin_taikhoan` FOREIGN KEY (`idTaiKhoan`) REFERENCES `taikhoan` (`idTaiKhoan`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,1,'Quan tri he thong','Tai khoan admin mac dinh','2026-03-26 22:17:19');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chitiethoadon`
--

DROP TABLE IF EXISTS `chitiethoadon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chitiethoadon` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `idHoaDon` int(11) NOT NULL,
  `idMonAn` int(11) NOT NULL,
  `soLuong` int(11) NOT NULL DEFAULT 1,
  `donGia` decimal(12,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_chitiethoadon_idHoaDon` (`idHoaDon`),
  KEY `idx_chitiethoadon_idMonAn` (`idMonAn`),
  CONSTRAINT `fk_chiTietHoaDon_hoaDon` FOREIGN KEY (`idHoaDon`) REFERENCES `hoadon` (`idHoaDon`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_chiTietHoaDon_monAn` FOREIGN KEY (`idMonAn`) REFERENCES `monan` (`idMonAn`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitiethoadon`
--

LOCK TABLES `chitiethoadon` WRITE;
/*!40000 ALTER TABLE `chitiethoadon` DISABLE KEYS */;
INSERT INTO `chitiethoadon` VALUES (1,1,1,1,20000.00),(2,1,3,1,30000.00),(3,2,4,1,35000.00),(4,2,5,2,15000.00);
/*!40000 ALTER TABLE `chitiethoadon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chu_quan_ly`
--

DROP TABLE IF EXISTS `chu_quan_ly`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chu_quan_ly` (
  `idChuQuanLy` int(11) NOT NULL AUTO_INCREMENT,
  `idTaiKhoan` int(11) NOT NULL,
  `hoTen` varchar(150) DEFAULT NULL,
  `sdt` varchar(20) DEFAULT NULL,
  `diaChi` varchar(255) DEFAULT NULL,
  `ngayTao` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idChuQuanLy`),
  UNIQUE KEY `uq_chuquanly_idTaiKhoan` (`idTaiKhoan`),
  CONSTRAINT `fk_chuquanly_taikhoan` FOREIGN KEY (`idTaiKhoan`) REFERENCES `taikhoan` (`idTaiKhoan`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chu_quan_ly`
--

LOCK TABLES `chu_quan_ly` WRITE;
/*!40000 ALTER TABLE `chu_quan_ly` DISABLE KEYS */;
INSERT INTO `chu_quan_ly` VALUES (1,3,'Nguyen Van A','0909000009','Quan 4','2026-04-08 23:22:50'),(2,5,'test',NULL,NULL,'2026-04-16 21:26:44'),(3,6,'test2',NULL,NULL,'2026-04-16 21:27:33'),(4,7,'test23',NULL,NULL,'2026-04-16 21:28:38'),(5,4,'khachhang1',NULL,NULL,'2026-04-22 20:11:01'),(6,8,'123dưed',NULL,NULL,'2026-04-22 20:20:35');
/*!40000 ALTER TABLE `chu_quan_ly` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gianhang`
--

DROP TABLE IF EXISTS `gianhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gianhang` (
  `idGianHang` int(11) NOT NULL AUTO_INCREMENT,
  `idChuQuanLy` int(11) DEFAULT NULL,
  `ten` varchar(150) NOT NULL,
  `diaChi` varchar(255) DEFAULT NULL,
  `lat` decimal(10,7) DEFAULT NULL,
  `lon` decimal(10,7) DEFAULT NULL,
  `vongBo` decimal(8,2) NOT NULL DEFAULT 10.00,
  `tinhTrang` enum('dang_hoat_dong','tam_ngung','dong_cua') NOT NULL DEFAULT 'dang_hoat_dong',
  `phiHangThang` decimal(12,2) NOT NULL DEFAULT 0.00,
  `ngayDangKy` datetime NOT NULL DEFAULT current_timestamp(),
  `thoiGianCapNhat` datetime DEFAULT NULL,
  PRIMARY KEY (`idGianHang`),
  KEY `idx_gianhang_idChuQuanLy` (`idChuQuanLy`),
  KEY `idx_gianhang_toado` (`lat`,`lon`),
  CONSTRAINT `fk_gianhang_chuquanly` FOREIGN KEY (`idChuQuanLy`) REFERENCES `chu_quan_ly` (`idChuQuanLy`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gianhang`
--

LOCK TABLES `gianhang` WRITE;
/*!40000 ALTER TABLE `gianhang` DISABLE KEYS */;
/*!40000 ALTER TABLE `gianhang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gianhangngonngu`
--

DROP TABLE IF EXISTS `gianhangngonngu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gianhangngonngu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `idGianHang` int(11) NOT NULL,
  `idNgonNgu` int(11) NOT NULL,
  `ten` varchar(150) NOT NULL,
  `audioURL` varchar(255) DEFAULT NULL,
  `moTa` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_gianHang_ngonNgu` (`idGianHang`,`idNgonNgu`),
  KEY `idx_gianhangngonngu_idNgonNgu` (`idNgonNgu`),
  CONSTRAINT `fk_gianHangNgonNgu_gianHang` FOREIGN KEY (`idGianHang`) REFERENCES `gianhang` (`idGianHang`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_gianHangNgonNgu_ngonNgu` FOREIGN KEY (`idNgonNgu`) REFERENCES `ngonngu` (`idNgonNgu`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gianhangngonngu`
--

LOCK TABLES `gianhangngonngu` WRITE;
/*!40000 ALTER TABLE `gianhangngonngu` DISABLE KEYS */;
/*!40000 ALTER TABLE `gianhangngonngu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goidichvu`
--

DROP TABLE IF EXISTS `goidichvu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `goidichvu` (
  `idGoi` int(11) NOT NULL AUTO_INCREMENT,
  `ten` varchar(150) NOT NULL,
  `moTa` text DEFAULT NULL,
  `gia` decimal(12,2) NOT NULL DEFAULT 0.00,
  `thoiHanNgay` int(11) NOT NULL DEFAULT 1,
  `trangThai` enum('hoat_dong','tam_ngung','ngung_ap_dung') NOT NULL DEFAULT 'hoat_dong',
  `ngayTao` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idGoi`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goidichvu`
--

LOCK TABLES `goidichvu` WRITE;
/*!40000 ALTER TABLE `goidichvu` DISABLE KEYS */;
INSERT INTO `goidichvu` VALUES (1,'Goi tham quan ngay','Truy cap app trong 1 ngay cho du khach.',15000.00,1,'hoat_dong','2026-04-15 02:00:17'),(2,'Goi tham quan tuan','Truy cap app trong 7 ngay cho du khach.',70000.00,7,'hoat_dong','2026-04-15 02:00:17'),(3,'Goi tieu chuan gian hang','Goi duy tri gian hang theo chu ky thang.',500000.00,30,'hoat_dong','2026-04-15 02:00:17'),(4,'Tokyo Takoyaki','e',1000.00,30,'hoat_dong','2026-04-23 11:05:16');
/*!40000 ALTER TABLE `goidichvu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hinhanhgianhang`
--

DROP TABLE IF EXISTS `hinhanhgianhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hinhanhgianhang` (
  `idHinhAnh` int(11) NOT NULL AUTO_INCREMENT,
  `idGianHang` int(11) NOT NULL,
  `duongDan` varchar(255) NOT NULL,
  PRIMARY KEY (`idHinhAnh`),
  KEY `idx_hinhanhgianhang_idGianHang` (`idGianHang`),
  CONSTRAINT `fk_hinhAnhGianHang_gianHang` FOREIGN KEY (`idGianHang`) REFERENCES `gianhang` (`idGianHang`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=134 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hinhanhgianhang`
--

LOCK TABLES `hinhanhgianhang` WRITE;
/*!40000 ALTER TABLE `hinhanhgianhang` DISABLE KEYS */;
INSERT INTO `hinhanhgianhang` VALUES (130,1,'chucchich.jpg'),(131,2,'mypham.jpg'),(132,3,'tet.jpg'),(133,4,'images/stores/store_4_20260423162326910.webp');
/*!40000 ALTER TABLE `hinhanhgianhang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hinhanhmonan`
--

DROP TABLE IF EXISTS `hinhanhmonan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hinhanhmonan` (
  `idHinhAnh` int(11) NOT NULL AUTO_INCREMENT,
  `idMonAn` int(11) NOT NULL,
  `duongDan` varchar(255) NOT NULL,
  PRIMARY KEY (`idHinhAnh`),
  KEY `idx_hinhanhmonan_idMonAn` (`idMonAn`),
  CONSTRAINT `fk_hinhAnhMonAn_monAn` FOREIGN KEY (`idMonAn`) REFERENCES `monan` (`idMonAn`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hinhanhmonan`
--

LOCK TABLES `hinhanhmonan` WRITE;
/*!40000 ALTER TABLE `hinhanhmonan` DISABLE KEYS */;
INSERT INTO `hinhanhmonan` VALUES (1,1,'images/foods/food_1_20260423162757925.jfif'),(2,2,'images/foods/food_2_20260416144016090.webp'),(3,3,'images/foods/food_3_20260423162854716.png'),(4,4,'images/foods/food_4_20260423162936176.jpg'),(5,5,'images/foods/food_5_20260423163023332.webp'),(6,6,'images/foods/food_6_20260423163034149.jfif'),(7,7,'images/foods/food_7_20260423163151834.jpg');
/*!40000 ALTER TABLE `hinhanhmonan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoadon`
--

DROP TABLE IF EXISTS `hoadon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hoadon` (
  `idHoaDon` int(11) NOT NULL AUTO_INCREMENT,
  `idKhachHang` int(11) DEFAULT NULL,
  `idPhienVaoApp` bigint(20) DEFAULT NULL,
  `idGoi` int(11) DEFAULT NULL,
  `maThanhToan` varchar(32) DEFAULT NULL,
  `maThietBi` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `guiEmail` tinyint(1) NOT NULL DEFAULT 0,
  `tongTien` decimal(12,2) NOT NULL DEFAULT 0.00,
  `thoiGianTao` datetime NOT NULL DEFAULT current_timestamp(),
  `thoiGianThanhToan` datetime DEFAULT NULL,
  `tinhTrang` enum('moi_tao','da_thanh_toan','da_huy','het_han') NOT NULL DEFAULT 'moi_tao',
  `cassoTransactionId` varchar(80) DEFAULT NULL,
  `ghiChu` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idHoaDon`),
  UNIQUE KEY `uq_hoadon_maThanhToan` (`maThanhToan`),
  KEY `idx_hoadon_idKhachHang` (`idKhachHang`),
  KEY `idx_hoadon_idPhienVaoApp` (`idPhienVaoApp`),
  KEY `idx_hoadon_idGoi` (`idGoi`),
  KEY `idx_hoadon_maThietBi` (`maThietBi`),
  KEY `idx_hoadon_cassoTransactionId` (`cassoTransactionId`),
  CONSTRAINT `fk_hoaDon_khachHang` FOREIGN KEY (`idKhachHang`) REFERENCES `khachhang` (`idKhachHang`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_hoadon_goidichvu` FOREIGN KEY (`idGoi`) REFERENCES `goidichvu` (`idGoi`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_hoadon_phienvaoapp` FOREIGN KEY (`idPhienVaoApp`) REFERENCES `phien_vao_app` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoadon`
--

LOCK TABLES `hoadon` WRITE;
/*!40000 ALTER TABLE `hoadon` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoadon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoadongianhang`
--

DROP TABLE IF EXISTS `hoadongianhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hoadongianhang` (
  `idHoaDonGianHang` int(11) NOT NULL AUTO_INCREMENT,
  `idGianHang` int(11) NOT NULL,
  `tongTien` decimal(12,2) NOT NULL DEFAULT 0.00,
  `ngayHetHan` datetime DEFAULT NULL,
  `trangThai` enum('chua_thanh_toan','da_thanh_toan','qua_han','da_huy') NOT NULL DEFAULT 'chua_thanh_toan',
  `ghiChu` varchar(255) DEFAULT NULL,
  `ngayTao` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idHoaDonGianHang`),
  KEY `idx_hoadongianhang_idGianHang` (`idGianHang`),
  CONSTRAINT `fk_hoadongianhang_gianhang` FOREIGN KEY (`idGianHang`) REFERENCES `gianhang` (`idGianHang`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoadongianhang`
--

LOCK TABLES `hoadongianhang` WRITE;
/*!40000 ALTER TABLE `hoadongianhang` DISABLE KEYS */;
INSERT INTO `hoadongianhang` VALUES (1,1,500000.00,'2026-05-15 02:00:17','da_thanh_toan','Phi duy tri thang hien tai','2026-04-15 02:00:17'),(2,2,701000.00,'2026-05-15 02:00:17','chua_thanh_toan','Phi duy tri thang hien tai','2026-04-15 02:00:17'),(3,3,650000.00,'2026-05-15 02:00:17','chua_thanh_toan','Phi duy tri thang hien tai','2026-04-15 02:00:17');
/*!40000 ALTER TABLE `hoadongianhang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khachhang`
--

DROP TABLE IF EXISTS `khachhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khachhang` (
  `idKhachHang` int(11) NOT NULL AUTO_INCREMENT,
  `idTaiKhoan` int(11) NOT NULL,
  `sdt` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`idKhachHang`),
  UNIQUE KEY `uq_khachhang_idTaiKhoan` (`idTaiKhoan`),
  CONSTRAINT `fk_khachHang_taiKhoan` FOREIGN KEY (`idTaiKhoan`) REFERENCES `taikhoan` (`idTaiKhoan`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khachhang`
--

LOCK TABLES `khachhang` WRITE;
/*!40000 ALTER TABLE `khachhang` DISABLE KEYS */;
INSERT INTO `khachhang` VALUES (1,4,'0909000001'),(2,2,'0909000002');
/*!40000 ALTER TABLE `khachhang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monan`
--

DROP TABLE IF EXISTS `monan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `monan` (
  `idMonAn` int(11) NOT NULL AUTO_INCREMENT,
  `idGianHang` int(11) NOT NULL,
  `ten` varchar(150) NOT NULL,
  `donGia` decimal(12,2) NOT NULL,
  `thoiGianCapNhat` datetime DEFAULT NULL,
  `tinhTrang` enum('con_ban','het_mon','ngung_ban') NOT NULL DEFAULT 'con_ban',
  PRIMARY KEY (`idMonAn`),
  KEY `idx_monan_idGianHang` (`idGianHang`),
  CONSTRAINT `fk_monAn_gianHang` FOREIGN KEY (`idGianHang`) REFERENCES `gianhang` (`idGianHang`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monan`
--

LOCK TABLES `monan` WRITE;
/*!40000 ALTER TABLE `monan` DISABLE KEYS */;
INSERT INTO `monan` VALUES (1,1,'Banh trang nuong trung',20000.00,'2026-04-23 23:27:57','con_ban'),(2,1,'Banh trang nuong pho mai',25000.00,'2026-04-16 21:40:16','con_ban'),(3,2,'Tra sua truyen thong',30000.00,'2026-04-23 23:28:54','con_ban'),(4,2,'Tra dao cam sa',35000.00,'2026-04-23 23:29:36','con_ban'),(5,3,'Xien bo vien',15000.00,'2026-04-23 23:30:23','con_ban'),(6,3,'Xien ca vien',12000.00,'2026-04-23 23:30:34','con_ban'),(7,4,'Trà sữa Mây',10000.00,'2026-04-23 23:31:51','con_ban');
/*!40000 ALTER TABLE `monan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monanngonngu`
--

DROP TABLE IF EXISTS `monanngonngu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `monanngonngu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `idMonAn` int(11) NOT NULL,
  `idNgonNgu` int(11) NOT NULL,
  `ten` varchar(150) NOT NULL,
  `moTa` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_monAn_ngonNgu` (`idMonAn`,`idNgonNgu`),
  KEY `idx_monanngonngu_idNgonNgu` (`idNgonNgu`),
  CONSTRAINT `fk_monAnNgonNgu_monAn` FOREIGN KEY (`idMonAn`) REFERENCES `monan` (`idMonAn`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_monAnNgonNgu_ngonNgu` FOREIGN KEY (`idNgonNgu`) REFERENCES `ngonngu` (`idNgonNgu`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monanngonngu`
--

LOCK TABLES `monanngonngu` WRITE;
/*!40000 ALTER TABLE `monanngonngu` DISABLE KEYS */;
/*!40000 ALTER TABLE `monanngonngu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ngonngu`
--

DROP TABLE IF EXISTS `ngonngu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ngonngu` (
  `idNgonNgu` int(11) NOT NULL AUTO_INCREMENT,
  `maNgonNgu` varchar(10) NOT NULL,
  `ten` varchar(50) NOT NULL,
  `trangThai` enum('hoat_dong','an') NOT NULL DEFAULT 'hoat_dong',
  PRIMARY KEY (`idNgonNgu`),
  UNIQUE KEY `uq_ngonngu_maNgonNgu` (`maNgonNgu`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ngonngu`
--

LOCK TABLES `ngonngu` WRITE;
/*!40000 ALTER TABLE `ngonngu` DISABLE KEYS */;
INSERT INTO `ngonngu` VALUES (1,'vi','Tieng Viet','hoat_dong'),(2,'en','English','hoat_dong'),(3,'ko','Korean','hoat_dong'),(4,'ja','Japanese','hoat_dong');
/*!40000 ALTER TABLE `ngonngu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phien_vao_app`
--

DROP TABLE IF EXISTS `phien_vao_app`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phien_vao_app` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `idThietBi` int(11) DEFAULT NULL,
  `maThietBi` varchar(255) NOT NULL,
  `idGoi` int(11) DEFAULT NULL,
  `qrRaw` text DEFAULT NULL,
  `accessToken` varchar(128) NOT NULL,
  `batDauLuc` datetime NOT NULL DEFAULT current_timestamp(),
  `hetHanLuc` datetime NOT NULL,
  `trangThai` enum('hieu_luc','het_han','huy') NOT NULL DEFAULT 'hieu_luc',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_accessToken` (`accessToken`),
  KEY `idx_phien_vao_app_maThietBi` (`maThietBi`),
  KEY `idx_phien_vao_app_idThietBi` (`idThietBi`),
  KEY `idx_phien_vao_app_idGoi` (`idGoi`),
  CONSTRAINT `fk_phien_vao_app_goidichvu` FOREIGN KEY (`idGoi`) REFERENCES `goidichvu` (`idGoi`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_phien_vao_app_thietbi_id` FOREIGN KEY (`idThietBi`) REFERENCES `thietbi` (`idThietBi`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_phien_vao_app_thietbi_ma` FOREIGN KEY (`maThietBi`) REFERENCES `thietbi` (`maThietBi`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phien_vao_app`
--

LOCK TABLES `phien_vao_app` WRITE;
/*!40000 ALTER TABLE `phien_vao_app` DISABLE KEYS */;
/*!40000 ALTER TABLE `phien_vao_app` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_phien_vao_app_before_insert` BEFORE INSERT ON `phien_vao_app` FOR EACH ROW BEGIN

  DECLARE v_idThietBi INT DEFAULT NULL;

  DECLARE v_maThietBi VARCHAR(255) DEFAULT NULL;



  IF NEW.idThietBi IS NULL AND NEW.maThietBi IS NOT NULL AND NEW.maThietBi <> '' THEN

    SELECT tb.idThietBi

      INTO v_idThietBi

    FROM thietbi tb

    WHERE tb.maThietBi = NEW.maThietBi

    LIMIT 1;



    SET NEW.idThietBi = v_idThietBi;

  END IF;



  IF (NEW.maThietBi IS NULL OR NEW.maThietBi = '') AND NEW.idThietBi IS NOT NULL THEN

    SELECT tb.maThietBi

      INTO v_maThietBi

    FROM thietbi tb

    WHERE tb.idThietBi = NEW.idThietBi

    LIMIT 1;



    SET NEW.maThietBi = v_maThietBi;

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_phien_vao_app_before_update` BEFORE UPDATE ON `phien_vao_app` FOR EACH ROW BEGIN

  DECLARE v_idThietBi INT DEFAULT NULL;

  DECLARE v_maThietBi VARCHAR(255) DEFAULT NULL;



  IF NEW.idThietBi IS NULL AND NEW.maThietBi IS NOT NULL AND NEW.maThietBi <> '' THEN

    SELECT tb.idThietBi

      INTO v_idThietBi

    FROM thietbi tb

    WHERE tb.maThietBi = NEW.maThietBi

    LIMIT 1;



    SET NEW.idThietBi = v_idThietBi;

  END IF;



  IF (NEW.maThietBi IS NULL OR NEW.maThietBi = '') AND NEW.idThietBi IS NOT NULL THEN

    SELECT tb.maThietBi

      INTO v_maThietBi

    FROM thietbi tb

    WHERE tb.idThietBi = NEW.idThietBi

    LIMIT 1;



    SET NEW.maThietBi = v_maThietBi;

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `taikhoan`
--

DROP TABLE IF EXISTS `taikhoan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `taikhoan` (
  `idTaiKhoan` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(100) NOT NULL,
  `matKhau` varchar(255) NOT NULL,
  `username` varchar(50) NOT NULL,
  `loaiTaiKhoan` enum('khach_hang','chu_quan_ly','admin') NOT NULL DEFAULT 'khach_hang',
  `tinhTrang` enum('hoat_dong','khoa') NOT NULL DEFAULT 'hoat_dong',
  `tinhTrangDangKy` enum('cho_duyet','da_duyet','tu_choi') NOT NULL DEFAULT 'da_duyet',
  `ngayTao` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idTaiKhoan`),
  UNIQUE KEY `uq_taikhoan_email` (`email`),
  UNIQUE KEY `uq_taikhoan_username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taikhoan`
--

LOCK TABLES `taikhoan` WRITE;
/*!40000 ALTER TABLE `taikhoan` DISABLE KEYS */;
/*!40000 ALTER TABLE `taikhoan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thietbi`
--

DROP TABLE IF EXISTS `thietbi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thietbi` (
  `idThietBi` int(11) NOT NULL AUTO_INCREMENT,
  `maThietBi` varchar(255) NOT NULL,
  `maKichHoat` varchar(100) DEFAULT NULL,
  `idTaiKhoan` int(11) DEFAULT NULL,
  `daKichHoat` tinyint(1) NOT NULL DEFAULT 0,
  `thoiGianKichHoat` datetime DEFAULT NULL,
  `ngayTao` datetime NOT NULL DEFAULT current_timestamp(),
  `lanCuoiHoatDong` datetime DEFAULT NULL,
  `trangThai` enum('cho_kich_hoat','hoat_dong','khoa') NOT NULL DEFAULT 'cho_kich_hoat',
  `loaiThietBi` enum('app_client','portal_web','hardware') NOT NULL DEFAULT 'app_client',
  `platform` varchar(32) DEFAULT NULL,
  `model` varchar(128) DEFAULT NULL,
  `manufacturer` varchar(128) DEFAULT NULL,
  `appVersion` varchar(32) DEFAULT NULL,
  PRIMARY KEY (`idThietBi`),
  UNIQUE KEY `uq_thietbi_maThietBi` (`maThietBi`),
  KEY `idx_thietbi_idTaiKhoan` (`idTaiKhoan`),
  KEY `idx_loai_lanCuoi` (`loaiThietBi`,`lanCuoiHoatDong`),
  CONSTRAINT `fk_thietbi_taikhoan` FOREIGN KEY (`idTaiKhoan`) REFERENCES `taikhoan` (`idTaiKhoan`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thietbi`
--

LOCK TABLES `thietbi` WRITE;
/*!40000 ALTER TABLE `thietbi` DISABLE KEYS */;
/*!40000 ALTER TABLE `thietbi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yeucaugianhang`
--

DROP TABLE IF EXISTS `yeucaugianhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `yeucaugianhang` (
  `idYeuCau` int(11) NOT NULL AUTO_INCREMENT,
  `idChuQuanLy` int(11) NOT NULL,
  `tenDeNghi` varchar(150) NOT NULL,
  `diaChiDeNghi` varchar(255) DEFAULT NULL,
  `ghiChuGui` text DEFAULT NULL,
  `trangThai` enum('cho_duyet','da_duyet','tu_choi') NOT NULL DEFAULT 'cho_duyet',
  `idGianHang` int(11) DEFAULT NULL,
  `ngayGui` datetime NOT NULL DEFAULT current_timestamp(),
  `ngayXuLy` datetime DEFAULT NULL,
  PRIMARY KEY (`idYeuCau`),
  KEY `idx_yeucaugianhang_owner` (`idChuQuanLy`),
  KEY `idx_yeucaugianhang_status` (`trangThai`),
  KEY `idx_yeucaugianhang_store` (`idGianHang`),
  CONSTRAINT `fk_yeucaugianhang_owner` FOREIGN KEY (`idChuQuanLy`) REFERENCES `chu_quan_ly` (`idChuQuanLy`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_yeucaugianhang_store` FOREIGN KEY (`idGianHang`) REFERENCES `gianhang` (`idGianHang`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yeucaugianhang`
--

LOCK TABLES `yeucaugianhang` WRITE;
/*!40000 ALTER TABLE `yeucaugianhang` DISABLE KEYS */;
/*!40000 ALTER TABLE `yeucaugianhang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yeucaugianhang_backup_20260416`
--

DROP TABLE IF EXISTS `yeucaugianhang_backup_20260416`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `yeucaugianhang_backup_20260416` (
  `idYeuCau` int(11) NOT NULL DEFAULT 0,
  `loaiYeuCau` enum('them_gian_hang') NOT NULL DEFAULT 'them_gian_hang',
  `idChuQuanLy` int(11) NOT NULL,
  `tenGianHang` varchar(150) NOT NULL,
  `diaChi` varchar(255) DEFAULT NULL,
  `moTa` text DEFAULT NULL,
  `ngonNguMoTa` varchar(10) NOT NULL DEFAULT 'vi',
  `lat` decimal(10,7) DEFAULT NULL,
  `lon` decimal(10,7) DEFAULT NULL,
  `phiHangThang` decimal(12,2) NOT NULL DEFAULT 0.00,
  `tinhTrangDeXuat` enum('dang_hoat_dong','tam_ngung','dong_cua') NOT NULL DEFAULT 'dang_hoat_dong',
  `trangThaiYeuCau` enum('cho_duyet','da_duyet','tu_choi') NOT NULL DEFAULT 'cho_duyet',
  `ghiChuXuLy` text DEFAULT NULL,
  `idTaiKhoanXuLy` int(11) DEFAULT NULL,
  `idGianHang` int(11) DEFAULT NULL,
  `ngayTao` datetime NOT NULL DEFAULT current_timestamp(),
  `thoiGianXuLy` datetime DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yeucaugianhang_backup_20260416`
--

LOCK TABLES `yeucaugianhang_backup_20260416` WRITE;
/*!40000 ALTER TABLE `yeucaugianhang_backup_20260416` DISABLE KEYS */;
/*!40000 ALTER TABLE `yeucaugianhang_backup_20260416` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'gianhang'
--

--
-- Dumping routines for database 'gianhang'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-24  7:14:50
